.el-input {
  input {
    height: 40px;
  }
}

.el-button {
  height: 40px;
}

.el-table__cell {
  .cell {
    word-break: break-word;
  }
}

.el-table__header {
  border-radius: 2px;
  border-bottom: 1px solid #A7BFFA;
}

.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid #F0F0F0;
}

.el-table th.el-table__cell {
  border-bottom: none !important;
}

.el-table__expand-icon {
  & .el-icon {
    transition-duration: 0.2s;
  }

  &--expanded {
    transform: none !important;

    & .el-icon {
      transform: rotate(90deg);
    }
  }
}

.el-popper.is-customized {
  padding: 10px 18px 10px 20px;
  z-index: 100002!important;
  color: white;
  background: #1454F2;
  border-radius: 200px;
  right: 20px;
}

.el-popper.is-customized .el-popper__arrow::before {
  background: #1454F2;
}