.el-input {
  input {
    height: 40px;
  }
}

.el-button {
  height: 40px;
}

.el-table__cell {
  .cell {
    word-break: break-word;
  }
}

.el-table__header {
  border-radius: 2px;
  border-bottom: 1px solid #A7BFFA;
}

.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid #F0F0F0;
}

.el-table th.el-table__cell {
  border-bottom: none !important;
}

.el-table__expand-icon {
  & .el-icon {
    transition-duration: 0.2s;
  }

  &--expanded {
    transform: none !important;

    & .el-icon {
      transform: rotate(90deg);
    }
  }
}

// el-menu
.el-menu-vertical-custom {
  background-color: #11162B;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 12px;
  border-right: none;


  & .el-icon {
    min-width: 28px;
    margin-right: 0;
  }

  & .el-menu-item {
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 9px;
    transition-duration: 300ms;

    &.is-active {
      background: #1857F3;
      color: white;
    }

    &:hover, &.router-link-active {
      background-color: #1857F3;
    }
  }
}

.el-menu-vertical-custom.collapse {
  & .el-menu-item {
    & .el-menu-tooltip__trigger {
      color: #11162B;
    }
  }
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}