@import "clear";
@import "elements-ui-override";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','微软雅黑',Arial,sans-serif;
}

.base-pagination {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  .el-pagination__sizes {
    margin-left: 10px;
    margin-right: 10px;
    .el-select, .el-input {
      height: 32px;
    }
  }
}
